<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dummies.BackendServices" version="0.9.5.0" targetFramework="net451" />
  <package id="Dummies.Core" version="0.9.5.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
</packages>